@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  height: 1000px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0.3rem;
  border: solid 3px #ff6a6a;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.74);
}

.root h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #ff6a6a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.74);
}

.root h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #9bff9b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.74);
}

.root p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}


.root .btn {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ff6a6a;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.root .btn:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


/* Container Styles */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 1200px;
}

.container {
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

/* Typography Styles */
h1, h2, h3 {
  margin: 0.5rem 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
  margin: 1rem 0;
}

/* Button Styles */
.btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #777;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.guesscontainer {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(114, 114, 114, 0.5);
  margin-block: 2rem;
  transition: all 0.3s ease-in-out;
}

.guesscontainer-mode2{
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(114, 114, 114, 0.5);
  margin-block: 2rem;
  transition: all 0.3s ease-in-out;
}
.btn-check {
  display: none;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-5-10 17:1:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.rotate-in-center {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  border-radius: 10px;
  font-size: 130px;
  background-color: rgb(17, 202, 0);
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

