body {
    font-family: Arial, sans-serif;

  }
  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
  }
  
  .square {
    width: auto;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .header-box {
    width: auto; 
    border: 1px solid red;
    flex-wrap: wrap;
    padding: 10px;
   margin-bottom: 0; 
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .content-box {
    width: auto;
    border: 1px solid blue;

    flex-wrap: wrap;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2, p {
    margin: 0;
  }
  
  @media (max-width: 550px) {
    .container {
      flex-direction: column;
    }
  
    .square {
      width: auto;
      flex-wrap: wrap;
      display: flex;
      margin: auto;
    }
  }